In [3]:
import numpy as np
import pandas as pd
import ast

In [4]:
cars = pd.read_csv('car_ad - car_ad.csv')

In [5]:
cars.shape

(9576, 11)

In [6]:
cars.head(8)

,ID,car,price,body,mileage,engV,engType,registration,year,model,drive
0,1,Ford,15500.0,crossover,68,2.5,Gas,yes,2010,Kuga,full
1,2,Mercedes-Benz,20500.0,sedan,173,1.8,Gas,yes,2011,E-Class,rear
2,3,Mercedes-Benz,35000.0,other,135,5.5,Petrol,yes,2008,CL 550,rear
3,4,Mercedes-Benz,17800.0,van,162,1.8,Diesel,yes,2012,B 180,front
4,5,Mercedes-Benz,33000.0,vagon,91,NaN,Other,yes,2013,E-Class,NaN
5,6,Nissan,16600.0,crossover,83,2.0,Petrol,yes,2013,X-Trail,full
6,7,Honda,6500.0,sedan,199,2.0,Petrol,yes,2003,Accord,front
7,8,Renault,10500.0,vagon,185,1.5,Diesel,yes,2011,Megane,front

In [7]:
cars = cars[['ID','car','price','body','engType','year','model','drive']]

In [8]:
cars.head(3)

   ID            car    price       body engType  year    model drive
0   1           Ford  15500.0  crossover     Gas  2010     Kuga  full
1   2  Mercedes-Benz  20500.0      sedan     Gas  2011  E-Class  rear
2   3  Mercedes-Benz  35000.0      other  Petrol  2008   CL 550  rear

In [9]:
cars.shape

(9576, 8)

In [10]:
cars.isnull().sum()

ID           0
car          0
price        0
body         0
engType      0
year         0
model        0
drive      511
dtype: int64

In [11]:
cars.duplicated().sum()

0

In [12]:
cars.fillna(0, inplace=True)

In [13]:
cars.isnull().sum()

ID         0
car        0
price      0
body       0
engType    0
year       0
model      0
drive      0
dtype: int64

In [14]:
cars.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9576 entries, 0 to 9575
Data columns (total 8 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   ID       9576 non-null   int64
 1   car      9576 non-null   object
 2   price    9576 non-null   float64
 3   body     9576 non-null   object
 4   engType  9576 non-null   object
 5   year     9576 non-null   int64
 6   model    9576 non-null   object
 7   drive    9576 non-null   object
dtypes: float64(1), int64(2), object(5)
memory usage: 598.6+ KB

In [15]:
cars.drop('price', axis=1, inplace=True)

In [16]:
cars.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9576 entries, 0 to 9575
Data columns (total 7 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   ID       9576 non-null   int64
 1   car      9576 non-null   object
 2   body     9576 non-null   object
 3   engType  9576 non-null   object
 4   year     9576 non-null   int64
 5   model    9576 non-null   object
 6   drive    9576 non-null   object
dtypes: int64(2), object(5)
memory usage: 523.8+ KB

In [17]:
cars.head(1)

   ID   car       body engType  year model drive
0   1  Ford  crossover     Gas  2010  Kuga  full

In [18]:
cars['tags'] = (cars['car'].astype(str) + ' ' +
                cars['body'].astype(str) + ' ' +
                cars['engType'].astype(str) + ' ' +
                cars['year'].astype(str) + ' ' +
                cars['model'].astype(str) + ' ' +
                cars['drive'].astype(str)+' '+
                cars['ID'].astype(str))

In [19]:
cars.head(1)

,ID,car,body,engType,year,model,drive,tags
0,1,Ford,crossover,Gas,2010,Kuga,full,Ford crossover Gas 2010 Kuga full 1

In [20]:
new_df= cars[['ID','car','tags']]

In [21]:
new_df

        ID            car                                               tags
0        1           Ford                Ford crossover Gas 2010 Kuga full 1
1        2  Mercedes-Benz        Mercedes-Benz sedan Gas 2011 E-Class rear 2
2        3  Mercedes-Benz      Mercedes-Benz other Petrol 2008 CL 550 rear 3
3        4  Mercedes-Benz        Mercedes-Benz van Diesel 2012 B 180 front 4
4        5  Mercedes-Benz         Mercedes-Benz vagon Other 2013 E-Class 0 5
...    ...            ...                                                ...
9571  9572        Hyundai       Hyundai crossover Gas 2011 Tucson front 9572
9572  9573     Volkswagen  Volkswagen vagon Petrol 1986 Passat B2 front 9573
9573  9574  Mercedes-Benz  Mercedes-Benz crossover Petrol 2008 ML 350 ful...
9574  9575          Lexus             Lexus sedan Gas 2008 ES 350 front 9575
9575  9576           Audi                Audi other Petrol 2007 Q7 full 9576

[9576 rows x 3 columns]

In [22]:
new_df['tags'][0]

'Ford crossover Gas 2010 Kuga full 1'

In [23]:
new_df.head(8)

   ID            car                                           tags
0   1           Ford            Ford crossover Gas 2010 Kuga full 1
1   2  Mercedes-Benz    Mercedes-Benz sedan Gas 2011 E-Class rear 2
2   3  Mercedes-Benz  Mercedes-Benz other Petrol 2008 CL 550 rear 3
3   4  Mercedes-Benz    Mercedes-Benz van Diesel 2012 B 180 front 4
4   5  Mercedes-Benz     Mercedes-Benz vagon Other 2013 E-Class 0 5
5   6         Nissan    Nissan crossover Petrol 2013 X-Trail full 6
6   7          Honda         Honda sedan Petrol 2003 Accord front 7
7   8        Renault       Renault vagon Diesel 2011 Megane front 8

In [24]:

from sklearn.feature_extraction.text import CountVectorizer 
cv =  CountVectorizer(max_features= 5000,stop_words='english')

ModuleNotFoundError: No module named 'sklearn'

In [ ]:
vectors=cv.fit_transform(new_df['tags']).toarray()

In [ ]:
cv.get_feature_names_out()

In [ ]:
from sklearn.metrics.pairwise import cosine_similarity

In [ ]:
similarity = cosine_similarity(vectors)

In [ ]:
sorted(list(enumerate(similarity[0])),reverse=True,key=lambda x:x[1])[1:6]

In [ ]:
def recommend(cars):
    # Find index of the car in the DataFrame
    cars_index = new_df[new_df['car'] == cars].index[0]
    distances = similarity[cars_index]
    cars_list = sorted(list(enumerate(distances)), reverse=True, key=lambda x: x[1])[1:6]
    
    recommended_ids = [new_df.iloc[i[0]]['ID'] for i in cars_list]
    return recommended_ids

    for i in cars_list:
            print(new_df.iloc[i[0]].ID)

In [ ]:
recommend('Volkswagen')